<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Danh sách sản phẩm</h1>
<form action="#">
    <img src="https://noithatgiaphong.vn/img/image/news/5-ly-do-nen-chon-noi-that-go-cho-gia-dinh.jpg" alt=""><br>
    Product code:<input type="text" placeholder="Enter product code"><br>
    Name:<input type="text" placeholder="Enter name"><br>
    Price:<input type="text" placeholder="Enter price"><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>
